---
import Notebook from "@components/Bashton.astro";
---

<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Notebook Basthon</title>
    </head>
    <body>
        <h1>Basthon Notebook</h1>
        <Notebook
            dir="SQL/"
            notebookFile="presentation_autojointure.ipynb"
            auxFiles=""
            modulesFiles="td_cinema.sql"
            kernel="sql"
        />
    </body>
</html>
