---
import Base from "@layouts/Base.astro";
---

<Base>
    <!-- Contenu spécifique de cette page -->
    <h1>Section Informatique pour tous</h1>

    <p>
        Cette section est entièrement consacrée à l'informatique pour tous (IPT)
        qui concerne les filières MPSI, PCSI, PTSI ainsi que les filières de
        deuxième année correspondantes. La plus grande exception étant la MP2I
        qui a un programme spécifique (futurement accéssible dans la section
        MP2I).
    </p>

    <br />
    <br />

    <strong class="text-3xl">Ressources utiles</strong>

    <br />
    <br />

    <ul class="!list-disc pl-5">
        <li class="my-4">
            Programme d'informatique pour tous disponible <a
                href="https://prepas.org/ups.php?document=72">ici</a
            >.
        </li>
    </ul>
</Base>
