---
import Base from "@layouts/Main_Page.astro";
---

<Base>
    <br /><a href="/"> &larr; Retour à la page d'acceuil du site</a><br />
    <!-- Contenu spécifique de cette page -->
    <h1>A propos de Moi : Quentin Lafitte</h1>

    <br />
    <br />

    <h2>Mon parcours</h2>
    <br />
    <p>
        Ayant passé ma scolarité au Lycée Français de Madrid, j'ai décidé de
        suivre une formation scientifique en allant au Lycée Pierre de Fermat en
        MPSI-MP (option informatique). J'ai ensuite intégré CentraleSupélec
        (Cursus Supélec) et en suis ressorti ingénieur en télécommunications et
        en computer science. J'ai immédiatement décidé de passer l'agrégation de
        mathématiques et suis devenu professeur agrégé. Depuis, j'ai enseigné en
        collège et en lycée et enseigne actuellement l'informatique à
        l'Université Rennes 2.
    </p>
    <br />
    <br />

    <h2>Mes projets</h2>

    <h3>Suplémaths : les mathématiques du supérieur</h3>
    <p>
        Ce site a été créé par moi-même avec quelques aides ponctuelles. J'ai
        également utilisé ChatGPT, notamment pour générer rapidement les classes
        tailwindcss afin d'avoir des rendus précis.

        <br />

        Tous les contenus mathématiques, informatiques et les animations ont été
        créés par moi-même. Je ne fais pas appel à des IA génératives pour créer
        du contenu de cours / exercices.
    </p>

    <h3>Simulations informatiques</h3>
    <p>
        J'aime beaucoup suivre des contenus de vulgarisation scientifique tels
        <a href="https://www.youtube.com/@ScienceEtonnante"
            >SciencesEtonnantes</a
        >, <a href="https://www.youtube.com/@Fouloscopie">Fouloscopie</a>,
        <a href="https://www.youtube.com/@TheCodingTrain">The Coding Train</a> ou
        <a href="https://www.youtube.com/@SebastianLague">Sebastian Lague</a> qui
        réalisent de nombreuses simulations informatiques. J'aime parfois reproduire
        leurs simulations ou recréer les miennes. Voici une liste non exhaustive
        de mes projets.

        <br />

        Certains projets visualisables sur le site ont été réalisés en
        Javascript, d'autres en Java, d'autres en Python. Pour rendre ceux en
        Java et Python visibles sur le site, je les ai convertis automatiquement
        en Javascript à l'aide de l'outil <a
            href="https://dkessner.github.io/processing-p5-convert/"
            >Processing to P5</a
        > disponible en ligne gratuitement ainsi qu'en utilisant des outils d'IA
        générative.
        <br />

        Il est à noter que la qualité du code est très variable et ces erreurs
        ont forgé mes habitudes d'aujourd'hui.
    </p>

    <ul class="!list-disc pl-5">
        <li class="my-4">
            <a href="/apropos/boids">BOIDS de Craig Reynolds (en 2D)</a> (JavaScript).
        </li>
        <li class="my-4">
            <a href="/apropos/gray_scott">Réaction de Gray-Scott </a> sans convection
            (Java).
        </li>
        <li class="my-4">Implémentation de Quad-Trees.</li>
        <li class="my-4">
            <a href="/apropos/solar_system"> Simulation du système solaire</a> (JavaScript).
        </li>

        <li class="my-4">
            Simulation de populations de renards, lapins et carottes (chaque
            entité est modélisée et a un comportement spatial propre dépendant
            de son champs de vision) .
        </li>
        <li class="my-4">
            <a href="/apropos/fourier"
                >Encodage d'image par transformée de Fourier</a
            > (Java).
        </li>
        <li class="my-4">
            <a href="/apropos/double_pendulum">
                Simulation d'un double pendule</a
            > (Java).
        </li>
        <li class="my-4">
            <a href="/apropos/forest_fire">Simulations de feux de forêts</a> par
            des équations différentielles (Java).
        </li>
        <li class="my-4">
            <a href="/apropos/forest_fire_proba"
                >Simulations de feux de forêts</a
            > par un modèle probabiliste (Java).
        </li>
        <li class="my-4">
            <a href="/apropos/water">Simulations d'eau</a> : Automate cellulaire
            (Java).
        </li>
        <li class="my-4">
            <a href="/apropos/fireworks">Simulations de feux d'artifices</a>
            (Java).
        </li>
        <li class="my-4">
            Simulation de blobs et fourmis sur Unity en HLSL (ComputeShader).
        </li>
        <li class="my-4">
            <a href="/apropos/langton_ant">
                Implémentation de la fourmi de Langton</a
            > (Java).
        </li>
        <li class="my-4">
            <a href="/apropos/game_of_life">
                Implémentation du jeu de la vie de Conway</a
            > (Java).
        </li>
        <li class="my-4">
            <a href="/apropos/snake"> Implémentation d'un Snake</a> (JavaScript).
        </li>

        <li class="my-4">
            <a href="/apropos/bouncing_balls">
                Une simple simulation de balles</a
            > (Java).
        </li>
    </ul>

    <h3>Développement de jeux vidéo / Mods</h3>

    J'ai développé des prototypes de jeux vidéo inachevés. Je n'ai aucune
    prétention dans ce domaine et m'y suis adonné par curiosité mais également
    par plaisir de créer.

    <ul class="!list-disc pl-5">
        <li class="my-4">
            Apprentissage de Unity (C#) pour des projets de jeux (platformer).
        </li>
        <li class="my-4">
            Apprentissage de Godot (GDScript) pour des prototypes de jeux.
        </li>
        <li class="my-4">
            Développement de Mods pour Dome Keeper (GDScript):
            <ul class="pl-6">
                <li class="my-4">
                    - Ajout d'énormément de contenu au jeu (nouveaux mode de
                    jeux, nouvelles mécaniques, nouvelles options, ...) :<a
                        href="https://steamcommunity.com/sharedfiles/filedetails/?id=3374495592"
                        >All You Can Mine</a
                    >
                </li>
                <li class="my-4">
                    - Ajout d'un nouveau personnage jouable avec des mécaniques
                    de jeux uniques :
                    <a
                        href="https://steamcommunity.com/sharedfiles/filedetails/?id=3457074035&searchtext="
                        >Excavator</a
                    >
                </li>
                <li class="my-4">
                    - Ajout d'un nouveau mode de jeu : <a
                        href="https://steamcommunity.com/sharedfiles/filedetails/?id=3377504681&searchtext=endless"
                        >Endless Combat Mode</a
                    >
                </li>
            </ul>
        </li>
    </ul>
</Base>
