.toc {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  max-width: 800px;
  text-align: left;
}

.toc ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.toc li {
  margin: 5px 0;
  font-size: 1rem;
}

.toc-item a {
  text-decoration: none;
  color: #007acc;
  font-weight: bold;
}

.toc-item a:hover {
  text-decoration: underline;
}


.toctoc {
    margin-left: var(--margin);
    font-size: 15px;
}
.toc-0 {
  margin: 0.5rem 0rem;
  font-size: 24px;
  padding-left: 0rem; /* Indentation de 20px pour les sous-sections */
}

.toc-1 {
  margin: 0.25rem 0rem;
  font-size: 20px;
  padding-left: 2rem; /* Indentation de 40px pour les sous-sous-sections */
}

.toc-2 {
  font-size: 16px;
  padding-left: 4rem; /* Indentation de 60px pour le niveau 4, etc. */
}
