---
import Base from "@layouts/Base.astro";
---

<Base>
    <!-- Contenu spécifique de cette page -->
    <h1>Section MPSI / MP2I</h1>

    <p>
        Cette section est entièrement consacrée à la filière MPSI / MP2I dont
        les programmes coïncident.
    </p>

    <br />

    <p>
        Utiliser le bouton en Haut à gauche <svg
            class="fill-current inline-flex rounded-md border-2"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 512 512"
        >
            <path
                d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
            ></path>
        </svg> pour accéder aux options de navigation de la section MPSI / MP2I
    </p>
    <br />

    <strong class="text-3xl">Ressources utiles</strong>

    <br />
    <br />

    <ul class="!list-disc pl-5">
        <li class="my-4">
            Programme de MPSI/MP2I disponible <a
                href="https://prepas.org/ups.php?document=69">ici</a
            >.
        </li>
    </ul>
</Base>
