---
import Base from "@layouts/Base.astro";
---

<Base>
    <!-- Contenu spécifique de cette page -->
    <h1>Section MPSI / MP2I </h1>

    <p> Cette section est entièrement consacrée à la filière MPSI / MP2I dont les programmes coïncident.</p>


    <strong class="text-3xl"
    >Ressources utiles</strong
>
<ul class="!list-disc pl-5">
    <li class="my-4">
        Programme de MPSI/MP2I disponible <a href="">ici</a>.
    </li>
</ul>
</Base>
