---
import Base from "@layouts/Base.astro";
---

<Base>
    <!-- Contenu spécifique de cette page -->
    <h1>Section MPSI / MP2I </h1>

    <p> Cette section est entièrement consacrée à la filière MPSI / MP2I dont les programmes coïncident.</p>


    <strong class="text-3xl"
    >Ressources utiles</strong
>
<ul class="!list-disc pl-5">
    <li class="my-4">
        Programme de MPSI/MP2I
    </li>

    <li class="my-4">
        La logique est gérée en partie par Astro (JSX) ainsi qu'en
        Javascript.
    </li>

    <li class="my-4">
        Le style lui est géré en CSS, <a href="https://tailwindcss.com"
            >TailwindCSS</a
        > et <a href="https://daisyui.com">DaisyUI</a>.
    </li>

    <li class="my-4">
        Les rendus mathématiques sont réalisés grâce à <a
            href="https://katex.org">Katex</a
        >.
    </li>

    <li class="my-4">
        Les animations sont en parties réalisées par mes soins (Javascript)
        mais surtout à l'aide d'intégrations <a href="https://katex.org"
            >Géogébra</a
        >.
    </li>
</ul>
</Base>
