---
import Base from '../layouts/Base.astro'

import Hideable from '../components/Hideable.astro'
import Remarque from '../components/Remarque.astro'
import Exercice from '../components/Exercice.astro'
import Item from '../components/Item.astro'
import Tableofcontents from '../components/Tableofcontents.astro'
import Katex from '../components/Katex.astro'
import Indent from '../components/Indent.astro'
import Fil from '../components/Fil.astro'

---
<Base>
<!-- Contenu spécifique de cette page -->
<h1>Bienvenue sur ma page de cours !</h1>
<p>Contenu du cours ici...</p>



</Base>

