---
import Base from '../layouts/Base.astro'

import Hideable from '../components/Hideable.astro'
import Remarque from '../components/Remarque.astro'
import Exercice from '../components/Exercice.astro'
import Item from '../components/Item.astro'
import Tableofcontents from '../components/Tableofcontents.astro'
import Katex from '../components/Katex.astro'
import Indent from '../components/Indent.astro'
import Fil from '../components/Fil.astro'
import Graph from '../components/Graph/graph.astro'
---
<Base>
<!-- Contenu spécifique de cette page -->
<h1>Bienvenue sur ma page de cours !</h1>
<p>Contenu du cours ici...</p>

<Graph></Graph>

<Exercice>bleu</Exercice>
<Hideable type="demonstration"></Hideable>
<Item type="proposition">a</Item>
<Item type="theoreme">a</Item>
<Item type="corolaire">a</Item>
<Item type="definition">a</Item>
<Item type='methode' titre='a'>a</Item>
<Remarque>
    aaaa
    aaaa

    aaaa

    aaaa

    aaaa

    aaaa
</Remarque>

<h1></h1>

<h2>1</h2>

<h3>a</h3>
<h3>b</h3>
<h3>c</h3>
<h3>d</h3>


<h2>2</h2>

<h3>a</h3>
<h3>b</h3>
<h3>c</h3>
<h3>d</h3>


<h2>3</h2>

<h3>a</h3>
<h3>b</h3>
<h3>c</h3>
<h3>d</h3>
</Base>

