---
import Base from "@layouts/Main_Page.astro";
---

<Base>
    <!-- Contenu spécifique de cette page -->
    <h1>Bienvenue sur Suplémaths</h1>
    <p>
        Ce site est dédié aux mathématiques et à l'informatique en classe préparatoire. Sélectionnez
        la filière de votre choix à l'aide du bouton en haut à gauche de
        l'écran !
    </p>
</Base>
