---
import Base from "../layouts/Base.astro";

import Hideable from "../components/Hideable.astro";
import Remarque from "../components/Remarque.astro";
import Exercice from "../components/Exercice.astro";
import Item from "../components/Item.astro";
import Tableofcontents from "../components/Tableofcontents.astro";
import Katex from "../components/Katex.astro";
import Indent from "../components/Indent.astro";
import Fil from "../components/Fil.astro";
---

<Base>
    <!-- Contenu spécifique de cette page -->
    <h1>Bienvenue sur Suplémaths</h1>
    <p>
        Ce site est dédié aux mathématiques en classe préparatoire. Sélectionnez
        le chapitre de votre choix à l'aide du bouton en haut à gauche de
        l'écran !
    </p>
</Base>
