---
import Base from '../layouts/Base.astro'
import Hideable from '../components/Hideable.astro'

const content = `
# Ce titre est un exemple

Voici un texte **Markdown** avec un peu de contenu.
`;

---
<Base>
<!-- Contenu spécifique de cette page -->
<h1>Bienvenue sur ma page de cours !</h1>
<p>Contenu du cours ici...</p>
</Base>

