---
import Base from '../layouts/Base.astro';

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../pages/*.mdx', { eager: true }));

  return [
    { params: { tag: "autre" } , props: {posts: allPosts}},
    { params: { tag: "analyse" } , props: {posts: allPosts}},
    { params: { tag: "algèbre" } , props: {posts: allPosts}},
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts?.filter((post: any) => post.frontmatter.tags?.includes(tag)) || posts;
---
<Base pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {filteredPosts?.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>) || <li></li>}
  </ul>
</Base>
