---
const filieres = ["MPSI", "Agrégation"]; //, "MP", "PCSI", "PC", "PTSI", "PT"];
import "../styles/global.css"; // Importe le CSS global
var urlFiliere = "";

if (Astro.url.pathname.length > 2) {
  urlFiliere = Astro.url.pathname.slice(1, 20).split("/")[0];
}
urlFiliere = urlFiliere.startsWith("cpge") ? urlFiliere.split("-")[1] : "";
---

<ul class="menu menu-horizontal px-1" data-pagefind-ignore="all">
  <li class="before:content-[] rounded-md border-2 border-base-200">
    <details>
      <summary class="bg-base-200 hover:bg-base-300">Maths </summary>
      <ul class="bg-base-200 pt-0 z-10">
        {
          filieres.map((filiere) => (
            <li class=" before:content-[]">
              <a href={`/${filiere.toLowerCase().replace("é", "e")}`}>
                {filiere.toUpperCase()}
              </a>
            </li>
          ))
        }
      </ul>
    </details>
  </li>
</ul>
<script>
  document.addEventListener("click", (event) => {
    document.querySelectorAll("details[open]").forEach((details) => {
      if (!details.contains(event.target)) {
        details.removeAttribute("open");
      }
    });
  });
</script>
