---
import "../styles/global.css"; // Importe le CSS global
const { titre } = Astro.props;
---

<!-- BUG : style tailwind ne s'appliquent pas entièrement (margin, padding, color ne fonctionnent pas)-->
<div>
  <div class="ml-8 p-0 mb-0">
    <strong class="">
      Exercice
      <span class="exercice-number"></span></strong
    ><span>&nbsp {titre}</span>
  </div>
  <div class="ml-20 border-l-2 border-b-2 p-1 border-black">
    <div class="p-1"><slot /></div>
    <!-- Le contenu de l'item -->
  </div>
</div>
<br />
