---
import "../styles/global.css"; // Importe le CSS global
---

<div class="border-l-4 ml-8 rounded-md  border-base-content">
    <div class="ml-4 overflow-x-auto overflow-y-clip"><slot /></div>
</div>
