<br />

<br />

<div
    class="p-2 inline-block w-auto bg-base-200 rounded-md"
    data-pagefind-ignore="all"
>
    <div class="inline-block border-2 p-4 rounded-md">
        <p><b>Auteur :</b></p>

        <p>Quentin Lafitte</p>

        <p>Agrégé de mathématiques</p>

        <p>Diplômé de CentraleSupélec</p>

        <p>contact : lafitte.maths@gmail.com</p>

        <p><a href="/apropos/index">A propos </a></p>
    </div>
    <div class="inline-block w-20"></div>
    <div class="inline-block">
        <p><b></b></p>

        <p></p>

        <p></p>

        <p></p>

        <p></p>
    </div>
</div>

<br />

<br />

<br />
