---
import "../styles/global.css"; // Importe le CSS global
interface Props {
  type: string;
  titre: string;
}
const { type, titre } = Astro.props;
const typeUpper = type.charAt(0).toUpperCase() + type.slice(1);
---
<div tabindex="0" class="collapse collapse-arrow ml-8 w-auto">
  <input type="checkbox" />
  <div class="collapse-title bg-secondary font-bold cursor-pointer text-lg  rounded-none hover:bg-tertiary"> {typeUpper} : {titre} </div>
  <div class="leading-10 collapse-content bg-secondary text-lg ">
    <slot />
  </div>
</div>
<script></script>

