---
import katex from 'katex';

// Configuration des macros globales
const macros = {};

// Récupération du contenu du slot par défaut
const formula = await Astro.slots.render('default') || '';
const html = katex.renderToString(formula.trim(), {
  throwOnError: false,
  macros});

---

<div class="text-center"><span class="katex-container" set:html={html}></span></div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
  integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
  crossorigin="anonymous"
/>