---
const choix = ["L3", "Agrégation"];
import "../styles/global.css"; // Importe le CSS global
var urlFiliere = "";

if (Astro.url.pathname.length > 2) {
    urlFiliere = Astro.url.pathname.slice(1, 20).split("/")[0];
}
---

<ul class="menu menu-horizontal px-1" data-pagefind-ignore="all">
    <li class="before:content-[] rounded-md border-2 border-base-200">
        <details>
            <summary class="bg-base-200 hover:bg-base-300"
                >Maths + : {urlFiliere.toUpperCase()}</summary
            >
            <ul class="bg-base-200 pt-0">
                {
                    choix.map((c) => (
                        <li class=" before:content-[]">
                            <a
                                href={`/${c
                                    .toLowerCase()
                                    .normalize("NFD")
                                    .replace(/[\u0300-\u036f]/g, "")}`}
                            >
                                {c.toUpperCase()}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </details>
    </li>
</ul>
