---
import "../styles/global.css"; // Importe le CSS global

// générer le svg avec currentColor au lieu de base-content
const svg = `url('data:image/svg+xml,<svg viewBox="-10 0 120 200" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="currentColor" stroke-width="10" d="M 0,0 C 0,50,50,50,50,100 C 50,150,0,150,0,200 "></path></svg>')`;
---

<!-- Amélioration : save le svg dans src/assets/ -->
<style define:vars={{ svg }}>
  .wave {
    background-image: var(--svg);
  }
</style>

<div class="flex items-stretch text-base-content ml-8 my-4 text-base" data-pagefind-ignore="all" client:idle>
  <div class="wave min-w-[16px] repeat-y"></div>
  <div class="pl-2">
    <b> Remarque : </b>
    <slot />
  </div>
</div>