---
import "../styles/global.css"; // Importe le CSS global

---
<div class="float-start" id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>