---
// Tableofcontents.astro : Le composant pour générer la table des matières dynamique
import "../styles/global.css"; // Assurez-vous que le style est correctement importé
import TableOfContent from "./TableOfContent";
---

<div class="flex center p-4 max-w-[90%]">
  <TableOfContent client:load title="" />
</div>
