---
import "../styles/global.css"; // Importe le CSS global
import Filiere from '../components/Filiere.astro';
import Sidebar from '../components/Sidebar.astro';
import Katex from '../components/Katex.astro'
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suplémaths - Les maths du supérieur</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css"
  integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
  crossorigin="anonymous"
/>

  </head>
  <body>
    <!-- Zone fixe pour Filiere -->
    <header>
      <Filiere />
    </header>

    <div class="container">
      <aside class="sidebar">
        <Sidebar />
      </aside>

      <div class="main-content-wrapper">
        <main class="main-content">
          <Katex/>
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
