---
import "../styles/global.css"; // Importe le CSS global
import Filiere from "../components/Filiere.astro";
import Options from "../components/Options.astro";
import Katex from "../components/Katex.astro";
import SearchBar from "../components/SearchBar.astro";
import HamburgerButton from "../components/HamburgerButton.astro";
import LiveTableOfContents from "../components/LiveTableOfContents.astro";

import coursData from "../data/cours.json"; // Importation du fichier JSON

interface Props {
  post: "";
  headings: import("astro").MarkdownHeading[];
}

const { post, headings } = Astro.props as Props;
---

<!doctype html>
<html lang="fr" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suplémaths - Les maths du supérieur</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css"
      integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
      crossorigin="anonymous"
    />
  </head>
  <body>

    <div class="fixed navbar bg-tertiary z-10">
      <div class="navbar-start">
        <HamburgerButton />
      </div>
      <div class="navbar-center lg:flex">
        <Filiere />
        <SearchBar />
      </div>
      <Options />
    </div>

    
    <aside class="sticky top-20">
      <div class="">
        <LiveTableOfContents />
      </div>
    </aside>

    <div class="container">
      <aside class="left-2 top-2">
        <div class="sidebar mt-12 p-0 w-[200px] l-[-200px] bg-tertiary fixed h-[100%] overflow-auto transition
      transition left 0.5s ease;" id="sidebar">
          {coursData.map((cours) => <a class="block p-2 decoration-none" href={cours.url}>{cours.titre}</a>)}
        </div>
      </aside>

      <div class="main-content-wrapper" id="wrapper">
        <main class="main-content flex flex-col gap-1">
          <Katex />
          <slot />
        </main>
      </div> 
    </div>
    
  </body>

  <script>
    var sidenav = document.getElementById("sidebar");
    var btn = document.getElementById("sidebarButton");
    var main = document.getElementById("wrapper");
    var active = false;

    btn.onclick = switchNav;

    /* Set the width of the side navigation to 250px */
    function switchNav() {
      if (active) {
        console.log("close");
        sidenav.classList.remove("active");
        btn.classList.add("active");
        btn.classList.remove("active");
        main.classList.add("full");
      } else {
        console.log("open");
        sidenav.classList.add("active");
        btn.classList.remove("active");
        btn.classList.add("active");
        main.classList.remove("full");
      }
      active = !active;
    }
  </script>
  <style>
    /* Active/current link */
    a.active {
      background-color: #04aa6d;
      color: white;
    }

    /* Links on mouse-over */
    a:hover:not(.active) {
      background-color: #555;
      color: white;
    }

    .sidebar.active {
      left: 0px;
    }

    /* Icône burger */
    .burger-icon span {
      display: block;
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
    }

    .main-content-wrapper {
      margin-left: 200px;
      padding: 1px 16px;
      height: 100%;
    }


    .main-content {
      margin: auto;
      max-width: 1100px;
    }

    @media only (min-width: 600px) {
      .main-content-wrapper {
        margin-left: 0px;
      }
    }
  </style>
</html>
